---

---

<footer>
  <div class="logo">
    <a href="index.astro">AskExperts</a>
  </div>
  <div class="grey-line"></div>
  <p>©2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</footer>

<style>
  footer {
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
    /* width: 1920px; */
    padding: 46px 0;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    gap: 10px;
    background-color: #181818;
    color: var(--primary-color);
    justify-items: center;

    > * {
      grid-column: content;
    }
  }

  .logo a {
    text-decoration: none;
    font-family: var(--logo-font-primary);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }
</style>
