---
import "@styles/main.css";
import Button from "@components/Button.astro";
---

<header>
  <nav>
    <div class="logo">
      <a href="index.astro">AskExperts</a>
    </div>
    <div class="nav">
      <ul>
        <li><a href="index.astro">Home</a></li>
        <li><a href="case.astro">Case study</a></li>
        <li><a href="team.astro">Team</a></li>
        <li><a href="about.astro">About</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <Button />
  </nav>
</header>

<style>
  @layer components {
    header {
      display: grid;
      grid-column: full;
      grid-template-columns: subgrid;
      padding: 38px;
      background-color: rgba(27, 27, 27, 0.91);
      backdrop-filter: blur(10.5px);
    }

    nav {
      grid-column: content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* width: 1920px; */
      gap: 1rem;
      flex-shrink: 0;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        list-style: none;
        font-family: var(--text-font);
      }
    }

    .logo {
      font-family: var(--heading-font);
      font-size: 1.5rem;
      font-weight: bold;
    }

    .nav-login {
      display: flex;
      padding: 4px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
</style>
